@import "tailwindcss";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f9fafb;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Упрощенные анимации для мобильных */
@media (max-width: 768px) {
  .framer-motion-container {
    transform: none !important;
    opacity: 1 !important;
  }
}